<h2>Get Bulk Client Details</h2>

@using (Html.BeginForm("GetBulkClientDetails", "BulkClientDetails", FormMethod.Post))
{
    <br>
    <div class="editor-field">
        <input type="submit" class="btn btn-success">
    </div>
}